<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Housing Trends - Tableau Dashboard</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="/static/assets/img/favicon.png" rel="icon">
  <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="/static/assets/css/main.css" rel="stylesheet">
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="index.html" class="logo d-flex align-items-center me-auto">
        <h1 class="sitename">Housing Trends</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#hero" class="active">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#dashboard">Dashboard</a></li>
          <li><a href="#story">Story</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="cta-btn" href="#about">Get Started</a>

    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">
      <img src="/static/assets/img/hero-bg.jpg" alt="" data-aos="fade-in">
      <div class="container d-flex flex-column align-items-center">
        <h2 data-aos="fade-up" data-aos-delay="100">Visualizing Housing Sales Trends and its Prices.</h2>
        <p data-aos="fade-up" data-aos-delay="200">Interactive Data Insights and Real Estate Analysis using Tableau</p>
        <div class="d-flex mt-4" data-aos="fade-up" data-aos-delay="300">
          <a href="#about" class="btn-get-started">Get Started</a>
        </div>
      </div>
    </section>

    <!-- About Section -->
    <section id="about" class="about section">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3>Visualizing Housing Market Trends: An Analysis of Sale Prices and Features using Tableau</h3>
            <img src="/static/assets/img/about.jpg" class="img-fluid rounded-4 mb-4" alt="">
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="250">
            <div class="content ps-0 ps-lg-5">
              <p class="fst-italic">
                This project focuses on analyzing real estate data to uncover key insights about property valuations and distribution.
              </p>
              <ul>
                <li><i class="bi bi-check-circle-fill"></i> <span>The goal is to address challenges in understanding the factors that influence house prices and sales trends.</span></li>
                <li><i class="bi bi-check-circle-fill"></i> <span>By analyzing comprehensive housing data, including the total sales by years since renovation, house age, and spatial metrics.</span></li>
                <li><i class="bi bi-check-circle-fill"></i> <span>Utilizing Tableau for this analysis, the objective is to visualize and interpret patterns in the housing market.</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Dashboard Section -->
    <section id="dashboard" class="services section">
      <div class="container section-title" data-aos="fade-up">
        <h2>Dashboard</h2>
        <p>Featured Tableau Analysis<br></p>
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <!-- Tableau Dashboard Embed -->
            <div class='tableauPlaceholder' id='viz_dashboard' style='position: relative'>
              <noscript>
                <a href='#'><img alt='comprehensive house data analysis' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Bo&#47;Book2_17840398378230&#47;Dashboard1&#47;1_rss.png' style='border: none' /></a>
              </noscript>
              <object class='tableauViz' style='display:none;'>
                <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                <param name='embed_code_version' value='3' />
                <param name='site_root' value='' />
                <param name='name' value='Book2_17840398378230&#47;Dashboard1' />
                <param name='tabs' value='no' />
                <param name='toolbar' value='yes' />
                <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Bo&#47;Book2_17840398378230&#47;Dashboard1&#47;1.png' />
                <param name='animate_transition' value='yes' />
                <param name='display_static_image' value='yes' />
                <param name='display_spinner' value='yes' />
                <param name='display_overlay' value='yes' />
                <param name='display_count' value='yes' />
                <param name='language' value='en-US' />
                <param name='filter' value='publish=yes' />
              </object>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Story Section -->
    <section id="story" class="services section light-background">
      <div class="container section-title" data-aos="fade-up">
        <h2>Story</h2>
        <p>Featured Tableau Story<br></p>
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <!-- Tableau Story Embed -->
            <div class='tableauPlaceholder' id='viz_story' style='position: relative'>
              <noscript>
                <a href='#'><img alt='Story' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Bo&#47;Book2_17840398378230&#47;Story1&#47;1_rss.png' style='border: none' /></a>
              </noscript>
              <object class='tableauViz' style='display:none;'>
                <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                <param name='embed_code_version' value='3' />
                <param name='site_root' value='' />
                <param name='name' value='Book2_17840398378230&#47;Story1' />
                <param name='tabs' value='no' />
                <param name='toolbar' value='yes' />
                <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Bo&#47;Book2_17840398378230&#47;Story1&#47;1.png' />
                <param name='animate_transition' value='yes' />
                <param name='display_static_image' value='yes' />
                <param name='display_spinner' value='yes' />
                <param name='display_overlay' value='yes' />
                <param name='display_count' value='yes' />
                <param name='language' value='en-US' />
                <param name='filter' value='publish=yes' />
              </object>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Tableau Scripts -->
  <script type='text/javascript'>
    // Script for Dashboard
    var divDash = document.getElementById('viz_dashboard');
    var vizDash = divDash.getElementsByTagName('object')[0];
    vizDash.style.width = '100%';
    vizDash.style.height = (divDash.offsetWidth * 0.75) + 'px';

    // Script for Story
    var divStory = document.getElementById('viz_story');
    var vizStory = divStory.getElementsByTagName('object')[0];
    vizStory.style.width = '100%';
    vizStory.style.height = (divStory.offsetWidth * 0.75) + 'px';

    var scriptElement = document.createElement('script');
    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
    vizDash.parentNode.insertBefore(scriptElement, vizDash);
  </script>

  <!-- Vendor JS Files -->
  <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/aos/aos.js"></script>
  <script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="/static/assets/js/main.js"></script>

</body>

</html>